# ignorera allt...
*

# ...utom dessa:
!.gitignore
!collect.sh
!companies.txt
!get_tweets.py
!README.md
!testkod_patrik.ipynb
!companies_europe.json
!companies_america.json
!collect_from_json.py
!airlines.json
!test_siri.ipynb
!sentiment_example.py


# Kom ihåg ! framför filnamnet
